*{
    font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
h1{
    font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial,sans-serif;
    font-size: 50px;
    color: #51453B;
    line-height: 60px;
    font-weight: 300;
}
h2{
    font-size: 24px;
    color: #42c3c9;
    line-height: 29px;
}
h3{
    font-size: 18px;
    color: #4a4a4a4a;
    line-height: 23px;
}
p{
    font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #7b7573;
    line-height: 24px;
    font-weight: 400;
}
strong{
    font-size: 16px;
    color: #7b7573;
    line-height: 24px;
}
a{
    font-size: 14px;
    color: #0093b9;
    line-height: 17px;
}
.padding-top{
    padding-top: 30px;
}
.padding-bottom{
    padding-bottom: 30px;
}
.margin-right{
    margin-right: 30px;
}
.padding-none{
    padding: 0;
}
.btn{
    padding: 20px;
    margin: 0;
    border-color: #9fb80a;
    border-width: 2px;
    color: #9fb80a;
}
.btn:hover{
    border-color: #aaaaaa;
    color: #aaaaaa;
}
.btn.delete:hover{
    border-color: #aaaaaa;
    color: red;
}
.glyphicon{
    margin-right: 10px;
}
.top-menu{
    padding-top: 30px;
    padding-bottom: 30px;
}
.top-menu p{
    margin-inside: 0;
    line-height: 16px;
}
.top-menu a{
    margin-bottom: 0;
    line-height: 16px;
    font-size: 16px;
    color: #7b7573;
    font-weight: 400;
}
.divider{
    height: 15px;
}
.divider.blue{
    background-color: #42c3c9;
}
.divider.green{
    background-color: #9fb80a;
}
.banner.main{
    height: 150px;
    /*background: url("/static/top-banner.jpg");*/
    background: url("https://github.com/udacity/ud330/blob/master/Lesson2/step7/static/top-banner.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner.menu{
    height: 150px;
    background-color: #e1e1e7;
}
.banner.profile{
    height: 150px;
    background-color: #a6e8eb;
}
.banner h1{
    margin: 45px 0;
}
.restaurant-list{
    background-color: #F0f0f0;
    padding: 20px;
}
.restaurant-list:hover{
    background-color: #e1e17f;
    padding: 20px;
}
.menu-item{
    background: #F0f0f0;
    padding: 20px;
    margin: 20px;
    margin-left: -20px;
}
.menu-price{
    font-weight: 700;
}
.creator{
    padding-right: 20px;
    margin-top: -20px;
    text-align: right;
    float: right;
}
.creator img{
    width: 100px;
}
.creator figcaption{
    font-size: 14px;
    color: #7b7573;
    font-weight: 400;
    margin-top: -20px;
}
.flash{
    background-color: #98fb98;
    width: 100%;
    text-decoration: none;
}
.flash li{
    list-style-type: none;
    text-align: center;
}