{%  extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{ restaurant.name }} ?</h2>

<form style="float: left; margin-right: 10px;" action="#" method="post">
     <button type="submit" class="btn btn-default delete" id="submit" >
      <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
      Delete
  </button>
  <a href="{{ url_for('showRestaurants') }}">
      <button class="btn btn-default delete">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Cancel
      </button>

  </a>
</form>

{% endblock %}
