{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1>Edit Menu Item</h1>
        </div>
    </div>
    <div class="row">
       <div class="col-md-6 col-md-offset-1 padding-top">
           <form action="#" method="post">
              <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" maxlength="100" class="form-control" name="name" value="{{ item.name }}">

                  <label for="description">Description:</label>
                  <textarea class="form-control" maxlength="250" rows="3" name="description">{{ item.description }}</textarea>

                  <label for="price">Price:</label>
                  <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input type="text" maxlength="10" class="form-control"name="price" value="{{ item.price }}">
                  </div>
                  <label for="course">Course:</label>
                  <div class="radio">
                      <label>
                          <input type="radio" name="course" id="course1" value="Appetizer"
                                 {% if item.course == 'Appetizer' %}checked{% endif %}>Appetizer
                      </label>
                  </div>
                  <div class="radio">
                      <label>
                          <input type="radio" name="course" id="course2" value="Entree"
                                 {% if item.course == 'Entree' %}checked{% endif %}>Entree
                      </label>
                  </div>
                  <div class="radio">
                      <label>
                          <input type="radio" name="course" id="course3" value="Dessert"
                                 {% if item.course == 'Dessert' %}checked{% endif %}>Dessert
                      </label>
                  </div>
                  <div class="radio">
                      <label>
                          <input type="radio" name="course" id="course4" value="Beverage"
                                 {% if item.course == 'Beverage' %}checked{% endif %}>Beverage
                      </label>
                  </div>
                  <button type="submit" class="btn btn-default" id="submit">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      Save
                  </button>
                  <a href="{{ url_for('showRestaurants') }}">
                      <button class="btn btn-default delete">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true">Cancel</span>
                      </button>
                  </a>
              </div>
           </form>
       </div>
    </div>
{% endblock %}