{% extends "main.html" %} }
{% block content %}
{% include "header.html" %}
<div class="row divider green" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12"></div>
    </div>
    <div class="row-banner menu">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form action="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}" method="post">
                <div class="form-group">
                   <label for="name"> Name:</label>
                    <input type="text" class="form-control" name="name" value="{{ restaurant.name }}">
                    <div class="padding-bottom"></div>
                    <button type="submit" class="btn btn-default" id="submit" >
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
                    <a href="{{ url_for('showRestaurants') }}">
                        <button class="btn btn-default delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">Cancel</span>
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}