<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{ url_for('showRestaurants') }}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
           Show All Restaurants
        </a>
    </div>
    <div class="col-md-6 text-right">
        <p>Login Link will go Here</p>
    </div>
</div>