<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start" async defer></script>

    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

    <title>Title</title>
</head>
<body>
  <!-- GOOGLE PLUS SIGN IN BUTTON -->
   <div id="signinButton">
       <span class="g-signin"
       data-scope="openid email"
       data-clientid="YOUR_CLIENT_ID_GOES_HERE.apps.googleusercontent.com"
       data-redirecturi="postmessage"
       data-accesstype="offline"
       data-cookiepolicy="single_host_origin"
       data-callback="signInCallback"
       data-approvalprompt="force">
       </span>
   </div>
  <div id="result"></div>

  <script>
      function signInCallback(authResult) {
          if (authResult['code']) {
              // Hide the sign in button now that the user is authorised
              $('#signinButton').attr('style', 'display: none');
              /*Send the one-time-use code to the server, if the server responds, write a 'login successful'
               to the web page and then redirect back to the main restaurants page*/
              $.ajax({
                  type: 'POST',
                  url: '/gconnect?state={{ STATE }}',
                  processData: false,
                  data: authResult['code'],
                  contentType:'application/octet-stream; charset=utf-8',
                  success: function (result) {
                      // Handle or verify the server response if necessary
                      if (result){
                          $('#result').html('Login Successful!<br>' + result + '<br>Redirecting...');
                          setTimeout(function () {
                              window.location.href = "/restaurant";
                          }, 4000);

                      }else if(authResult['error']){
                          console.log('There was an error: ' + authResult['error']);
                      }else{
                          $('#result').html('Failed to make a server side call. Check your configuration and console.');
                      }
                  }

              });
          }
      }
  </script>

<!-- END GOOGLE SIGN-IN BUTTON-->

<!-- FACEBOOK SIGN IN -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2287799391441589',
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true, // parse social plugins on this page
      version    : 'v2.8' // use version 2.8
    });

    FB.AppEvents.logPageView();

  };

   // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  /* Here we run a very simple test of the Graph API after login is successful. See statusChangeCallback() for when
   this call is made*/
  function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log(access_token);
      console.log('Welcome! Fetching your information...');
      FB.api('/me', function (response) {
          console.log('Successful login for: ' + response.name);
          $.ajax({
              type: 'POST',
              url: '/fbconnect?state={{ STATE }}',
              processData: false,
              data: access_token,
              contentType: 'application/octet-stream; charset=utf-8',
              success: function (result) {
                  //Handle or verify the server response if necessary
                  if (result){
                      $('#result').html('Login Successful!</br>'+result+'</br>Redirecting...');
                      setTimeout(function () {
                          window.location.href = "/restaurant";
                      }, 4000);
                  } else {
                      $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                  }
              }
          });

      });
  }
</script>
<button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
        <a href="javascript:sendTokenToServer()">Login with Facebook</a>
    </fb:login-button>

</button>

<!--END FACEBOOK SIGN IN-->

</body>
</html>