{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div>
        <div class="col-md-11-offset-1 padding-none">
            <h1>
                {{ restaurant.name }}
                <figure class="creator">
                    <!--<img src="{{ url_for('static', filename='blank_user.jpg') }}">-->
                    <img src="https://raw.githubusercontent.com/udacity/ud330/master/Lesson2/step7/static/blank_user.gif">
                    <figcaption>Menu creator's name goes here</figcaption>
                </figure>
            </h1>
        </div>
    </div>
    <div class="flash">
        {% with messages=get_flashed_messages() %}
        {% if messages %}
          <ul>
              {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
           {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
    </div>
    <div class="row padding-top padding-bottom">
        <div class="col-md-1"></div>
        <div class="col-md-11 padding-none">
            <a href="{{ url_for('editRestaurant', restaurant_id = restaurant_id) }}">

               <button class="btn btn-default" id="new-menu-item">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  Edit Restaurant
               </button>
            </a>
            <a href="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}">
                <button class="btn btn-default" id="new-menu-item">
                    <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
                    Add Menu Item
                </button>
            </a>
            <a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant_id)}}">
                <button class=" btn btn-default delete" id="delete-restaurant">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </a>
        </div>
        <div class="col-md-7"></div>
    </div>

{% if items != [] %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h2>Appetizers</h2>
              {% for i in items %}
                {% if i.course == 'Appetizer' %}
                  <div class="menu-item">
                      <h3>{{ i.name }}</h3>
                      <p>{{ i.description }}</p>
                      <p class="menu-price">{{ i.price }}</p>
                      <a href="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=i.id) }}">Edit</a>
                      <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=menu_id) }}">Delete</a>
                  </div>
        </div>
        {% endif %}
    {% endfor %}

        <div class="col-md-4">
           <h2>Entrees</h2>
               {% for i in items %}
                     {% if i.course == 'Entree' %}
                         <div class="menu-item">
                         <h3>{{ i.name }}</h3>
                         <p>{{ i.description }}</p>
                         <p class="menu-price">{{ i.price }}</p>
                         <a href="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=i.id) }}">Edit</a>|
                         <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id=i.id) }}">Delete</a>
                         </div>
                     {% endif %}
               {% endfor %}
        </div>
        <div class="col-md-3">
            <h2>Dessert</h2>
            {% for i in items %}
                {% if i.course == 'Dessert' %}
                <div class="menu-item">
                    <h3>{{ i.name }}</h3>
                    <p>{{ i.description }}</p>
                    <p class="menu-price">{{ i.price }}</p>
                    <a href="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=i.id) }}">Edit</a> |
                    <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = i.id) }}">Delete</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-3">
           <h2>Beverage</h2>
               {% for i in items %}
                   {% if i.course == 'Beverage' %}
                       <div class="menu-item">
                           <h3>{{ i.name }}</h3>
                           <p>{{ i.description }}</p>
                           <p class="menu-price">{{ i.price }}</p>
                           <a href="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=i.id) }}">Edit</a> |
                           <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = i.id) }}">Delete</a>
                       </div>
              {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-1"></div>
    </div>
    {% endif %}
{% endblock %}
