{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner menu">
        <div>
            <h1>New Restaurant</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6-offset-1 padding-top">
            <form action="#" method="post">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" maxlength="100" name="name">
                    <div class="padding-bottom"></div>
                    <button type="submit" class="btn btn-default" id="submit"></button>
                    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"> Create</span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}