{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
   <div class="row top-menu">
       <div class="col-md-10"></div>
       <div class="col-md-2"></div>
       <div class="col-md-2 text-right"></div>
   </div>
   <div class="row divider blue">
       <div class="col-md-12"></div>
   </div>
   <div class="row banner main">
       <div class="col-md-1"></div>
       <div class="col-md-11 padding-none">
           <h1>Restaurants</h1>
       </div>
   </div>
<div class="flash">
      {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
          <li><strong>{{ message }}</strong></li>
         {% endfor %}
     </ul>
     {% endif %}
 {% endwith %}
</div>
<div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">
        <a href="{{ url_for('newRestaurant') }}">
            <button class="btn btn-default" id="new-restaurant">
                <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                Add Restaurant
            </button>
        </a>
    </div>
</div>
{% for restaurant in resturants %}
  <a href="{{ url_for('showMenu') }}" , restaurant_id = restaurant_id>
     <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10 restaurant-list">
             <h3>{{ restaurant.name }}</h3>
         </div>
         <div class="col-md-1"></div>

     </div>
  </a>
{% endfor %}
{% endblock %}